<h1>Clientes</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Nombre'
      %td='Estado'
      %td='Correo'
      %td='Telefono'
      %td='Acciones'
  %tbody
    - @clientes.each do |cliente|
      %tr
        %td=cliente.id
        %td=cliente.nombre
        %td=cliente.estado
        %td=cliente.correo
        %td=cliente.telefono
        %td
          = link_to edit_cliente_path(cliente) do
            = fa_icon 'pencil'
          = link_to cliente_path(cliente), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'

    %tr='Total'
    %tr=@clientes.count


