<h1>Facturas hotel</h1>
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Num de sistema'
      %td='Num de cliente'
      %td='Total'
      %td='Fecha de emisión'
      %td='Tipo de pago'
      %td='Num de renta'
      %td='Acciones'
  %tbody
    - @facturas.each do |factura|
      %tr
        %td=factura.id
        %td=factura.id_sistema
        %td=factura.id_cliente
        %td=factura.total
        -if valid_date?(factura.fecha_emision)
          %td=factura.fecha_emision
        -else
          %td.text-danger=factura.fecha_emision
        %td=factura.tipo_pago
        %td=factura.id_renta
        %td
          = link_to edit_facturas_hotel_path(factura) do
            = fa_icon 'pencil'
          = link_to facturas_hotel_path(factura), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
    %tr='Total'
    %tr=@facturas.count


