<h1>Bebidas</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Nombre'
      %td='Precio'
      %td='Descripcion'
      %td='Acciones'

  %tbody
    - @bebidas.each do |bebida|
      %tr
        %td=bebida.id
        -if valid_words?(bebida.nombre)
          %td=bebida.nombre
        -else
          %td.text-danger=bebida.nombre
        -if valid_priece?(bebida.precio)
          %td=bebida.precio
        -else
          %td.text-danger=bebida.precio
        %td=bebida.descripcion
        %td
          = link_to edit_bebida_path(bebida) do
            = fa_icon 'pencil'
          = link_to bebidas_path(bebida), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'

    %tr='Total'
    %tr=@bebidas.count


