%table
  %thead
    %tr
      %td='id'
      %td='id habitacion'
      %td='id reservacion'

  %tbody
    - @habitacionesreservadas.each do |habitacion|
      %tr
        %td=habitacion.id
        %td=habitacion.id_reservacion
        %td=habitacion.id_habitacion
