<h1>Habitaciones reservadas</h1>
%p= "Total: #{@habitacionesreservadas.count} regitros"
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Num de reservación'
      %td='Num de habitación'

  %tbody
    - @habitacionesreservadas.each do |habitacion|
      %tr
        %td=habitacion.id
        %td=habitacion.id_reservacion
        %td=habitacion.id_habitacion
