%table
  %thead
    %tr
      %td='id'
      %td='idHabitacionR'
      %td='idRrservacion'
      %td='idHabitacion'
      %td='Acciones'
  %tbody
    - @habitacionesreservadas.each do |habitacion|
      %tr
        %td=habitacion.id
        %td=habitacion.idHabitacionR
        %td=habitacion.idReservacion
        %td=habitacion.idHabitacion
        %td
          = link_to edit_habitaciones_reservada_path(habitacion) do
            = fa_icon 'pencil'
          = link_to habitaciones_reservada_path(habitacion), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'