<h1>Servicio por habitación</h1>
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Num de habitación rentada'
      %td='Num de renta'
      %td='Num de historico por servicio'
      %td='Num de empleado'
      %td='Acciones'
  %tbody
    - @servicioh.each do |s|
      %tr
        %td=s.id
        %td=s.id_habitacion_rentada
        %td=s.id_renta
        %td=s.id_historico_servicio
        %td=s.id_empleado
        %td
          = link_to edit_servicio_habitacione_path(s) do
            = fa_icon 'pencil'
          = link_to servicio_habitacione_path(s), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
