<h1>Servicio de habitaciones</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Num de Servicio por habitación'
      %td='Num de habitación reservada'
      %td='Num de renta'
      %td='Num de historico por servicio'
      %td='Num de empleado'
      %td='Acciones'
  %tbody
    - @servicioh.each do |s|
      %tr
        %td=s.id
        %td=s.idServicioH
        %td=s.idHabitacionR
        %td=s.idRenta
        %td=s.idHistoricoS
        %td=s.idEmpleado
        %td
          = link_to edit_servicio_habitacione_path(s) do
            = fa_icon 'pencil'
          = link_to servicio_habitacione_path(s), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
