<h1>Mesas por reservación</h1>
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Num de reservación'
      %td='Num de mesa'
      %td='Estado'
  %tbody
    - @mesas_por_reservacion.each do |mesa_por_reservacion|
      %tr
        %td=mesa_por_reservacion.id
        %td=mesa_por_reservacion.id_reservacion
        %td=mesa_por_reservacion.id_mesa
        -if valid_words?(mesa_por_reservacion.estado)
          %td=mesa_por_reservacion.estado
        -else
          %td.text.danger=mesa_por_reservacion.estado
