%table
  %thead
    %tr
      %td='id'
      %td='id reservacion'
      %td='id mesa'
      %td='estado'
  %tbody
    - @mesas_por_reservacion.each do |mesa_por_reservacion|
      %tr
        %td=mesa_por_reservacion.id
        %td=mesa_por_reservacion.id_reservacion
        %td=mesa_por_reservacion.id_mesa
        %td=mesa_por_reservacion.estado
