<h1>Asistencias</h1>
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Num de empleado'
      %td='Fecha'
      %td='H.Entrada'
      %td='H.Salida'
      %td='Acciones'

  %tbody
    - @asistencias.each do |asistencia|
      %tr
        %td=asistencia.id
        %td=asistencia.id_empleado
        - if valid_date?(asistencia.fecha)
          %td=asistencia.fecha
        -else
          %td.text-danger=asistencia.fecha
        %td=asistencia.hora_entrada
        %td=asistencia.hora_salida
        %td
          = link_to edit_asistencia_path(asistencia) do
            = fa_icon 'pencil'
          = link_to asistencia_path(asistencia), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'


