<h1>Recibos de compras</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Num pedido de compra'
      %td='Fecha de generación'
      %td='Fecha entrega'
  %tbody
    - @recibos.each do |recibo|
      %tr
        %td=recibo.id
        %td=recibo.id_pedido_compra
        %td=recibo.f_generacion
        %td=recibo.f_entrega
    %tr='Total'
    %tr=@recibos.count

