<h1>Areas por empleado</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Num de empleado'
      %td='Num de area'
      %td='Fecha Asignación'
      %td='Acciones'

  %tbody
    - @areas_por_empleado.each do |area|
      %tr
        %td=area.id
        %td=area.id_empleado
        %td=area.id_area
        %td=area.fechasignacion
        %td
          = link_to  edit_areas_por_empleado_path(area) do
            = fa_icon 'pencil'
          = link_to areas_por_empleado_path(area), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'



