%table
  %thead
    %tr
      %td='id'
      %td='idMaterialH'
      %td='Cantidad'
      %td='idMaterial'
      %td='idServicioLH'
      %td='Acción'

  %tbody
    - @materialgh.each do |ma|
      %tr
        %td=ma.id
        %td=ma.idMaterialH
        %td=ma.Cantidad
        %td=ma.idMaterial
        %td=ma.idServicioLH
        %td
          = link_to edit_materialgastado_habitacione_path(ma) do
            = fa_icon 'pencil'
          = link_to materialgastado_habitacione_path(ma), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
