%table
  %thead
    %tr
      %td='id'
      %td='numero'
      %td='capacidad'
      %td='acciones'

  %tbody
    - @mesas.each do |mesa|
      %tr
        %td=mesa.id
        %td=mesa.numero
        %td=mesa.capacidad
        %td
          = link_to edit_mesa_path(mesa) do
            = fa_icon 'pencil'
          = link_to mesa_path(mesa), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
    %tr='Total'
    %tr=@mesas.count


