<h1>Servicio por paquete</h1>
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Num historico / servicio'
      %td='Num paquetes'
  %tbody
    - @serviciop.each do |s|
      %tr
        %td=s.id
        %td=s.id_historico_servicio
        %td=s.id_paquete
