%table
  %thead
    %tr
      %td='id'
      %td='id_historicoS'
      %td='id_paquetes'
  %tbody
    - @serviciop.each do |s|
      %tr
        %td=s.id
        %td=s.id_historico_servicio
        %td=s.id_paquete
