<h1>Historico de servicios</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Precio'
      %td='Fecha de inicio'
      %td='Fecha de termino'
      %td='Num de servicio'
      %td='Acciones'

  %tbody
    - @historicos.each do |ma|
      %tr
        %td=ma.id
        - if valid_precio?(ma.precio)
          %td=ma.precio
        - else
          %td.text-danger=ma.precio
        - if valid_date?(ma.f_inicio)
          %td=ma.f_inicio
        - else
          %td.text-danger=ma.f_inicio
        - if valid_date?(ma.f_termino)
          %td=ma.f_termino
        - else
          %td.text-danger=ma.f_termino
        %td=ma.id_servicio
        %td
          = link_to edit_historico_servicio_path(ma) do
            = fa_icon 'pencil'
          = link_to historico_servicio_path(ma), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
