<h1>Vacantes</h1>
%table.table.table-striped
  %thead
    %tr
      %td='id'
      %td='Nombre'
      %td='Estado'
  %tbody
    - @vacantes.each do |vacante|
      %tr
        %td=vacante.id
        %td=vacante.nombre
        %td=vacante.estado
    %tr='Total'
    %tr=@vacantes.count


