<h1>Servicios del restaurante al hotel</h1>
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Num de habitación'
      %td='Fecha'
      %td='Acciones'
  %tbody
    - @servicios.each do |servicio|
      %tr
        %td=servicio.id
        %td=servicio.id_habitacion
        -if valid_date?(servicio.fecha)
          %td=servicio.fecha
        -else
          %td.text.danger=servicio.fecha
        %td
          = link_to edit_servicios_a_domicilio_path(servicio) do
            = fa_icon 'pencil'
          = link_to servicios_a_domicilio_path(servicio), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
    %tr='Total'
    %tr=@servicios.count


