<h1>Pedidos por empleado</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Num de sistema'
      %td='Sistema'
      %td='Fecha de petición'
      %td='Num de empleado'
      %td='Acciones'
  %tbody
    - @ordenes_por_empleados.each do |orden_por_empleado|
      %tr
        %td=orden_por_empleado.id
        %td=orden_por_empleado.id_sistema
        %td=orden_por_empleado.sistema
        -if valid_date?(orden_por_empleado.f_peticion)
          %td=orden_por_empleado.f_peticion
        -else
          %td.text-danger=orden_por_empleado.f_peticion
        %td=orden_por_empleado.id_empleado
        %td
          = link_to edit_pedidos_por_empleado_path(orden_por_empleado) do
            = fa_icon 'pencil'
          = link_to pedidos_por_empleado_path(orden_por_empleado), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
