<h1>Proveedores</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Nombre'
      %td='Num de empresa'
  %tbody
    - @proveedores.each do |proveedor|
      %tr
        %td=proveedor.id
        %td=proveedor.nombre
        %td=proveedor.id_empresa
    %tr='Total'
    %tr=@proveedores.count


