
<h1>Programas de capacitación</h1>
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Num de empresa'
      %td='Nombre'
      %td='Costo'
      %td='Duración'
      %td='Acciones'

  %tbody
    - @programas.each do |programa|
      %tr
        %td=programa.id
        -if valid_words?(programa.nombre)
          %td=programa.nombre
        -else
          %td.text-danger=programa.nombre
        -if valid_precio?(programa.costo)
          %td=programa.costo
        -else
          %td.text-danger=programa.costo
        -if valid_cantidad?(programa.duracion)
          %td=programa.duracion
        -else
          %td.text-danger=programa.duracion
        %td
          = link_to edit_programas_capacitacion_path(programa) do
            = fa_icon 'pencil'
          = link_to programas_capacitacion_path(programa), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'

