<h1>Paquetes</h1>
%table.table.table-striped
  %thead
    %tr
      %td='id'
      %td='idPaquete'
      %td='Nombre'
      %td='Descripcion'
      %td='PrecioDia'
      %td='Acciones'
  %tbody
    - @paquete.each do |pa|
      %tr
        %td=pa.id
        %td=pa.idPaquete
        %td=pa.Nombre
        %td=pa.Descripcion
        %td=pa.PrecioDia
        %td
          = link_to edit_paquete_path(pa) do
            = fa_icon 'pencil'
          = link_to paquete_path(pa), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
