%h1
  Ingredientes por proveedor
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Num ingrediente'
      %td='Num proveedor'
      %td='Precio'
      %td='Acciones'
  %tbody
    - @ingredientes_por_proveedor.each do |ingrediente_por_proveedor|
      %tr
        %td=ingrediente_por_proveedor.id
        %td=ingrediente_por_proveedor.id_ingrediente
        %td=ingrediente_por_proveedor.id_proveedor
        - if valid_price?(ingrediente_por_proveedor.precio)
          %td=ingrediente_por_proveedor.precio
        -else
          %td.text.danger=ingrediente_por_proveedor.precio
        %td
          = link_to edit_ingredientes_por_proveedor_path(ingrediente_por_proveedor) do
            = fa_icon 'pencil'
          = link_to ingredientes_por_proveedor_path(ingrediente_por_proveedor), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'

    %tr='Total: '
    %tr=@ingredientes_por_proveedor.count


