
<h1>Solicitudes de mantenimiento</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Num de empleado'
      %td='Num equipo por recibo'
      %td='Fecha de solicitud'
      %td='Fecha de recibo'
      %td='Estado'
      %td='Motivo'
      %td='Tipo'
      %td='Acciones'
  %tbody
    - @solicitudes.each do |solicitud|
      %tr
        %td=solicitud.id
        %td=solicitud.id_empleado
        %td=solicitud.id_equipo_por_recibo
        %td=solicitud.f_solicitud
        %td=solicitud.f_recibo
        %td=solicitud.estado
        %td=solicitud.motivo
        %td=solicitud.tipo
        %td
          = link_to edit_solicitudes_de_mantenimiento_path(solicitud) do
            = fa_icon 'pencil'
          = link_to solicitudes_de_mantenimiento_path(solicitud), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'

    %tr='Total'
    %tr=@solicitudes.count



