%table
  %thead
    %tr
      %td='id'
      %td='id_empleado'
      %td='id_equipo_por_recibo'
      %td='f_solicitud'
      %td='f_recibo'
      %td='estado'
      %td='motivo'
      %td='tipo'
      %td='Acciones'

  %tbody
    - @solicitudes.each do |solicitud|
      %tr
        %td=solicitud.id
        %td=solicitud.id_empleado
        %td=solicitud.id_equipo_por_recibo
        %td=solicitud.f_solicitud
        %td=solicitud.f_recibo
        %td=solicitud.estado
        %td=solicitud.motivo
        %td=solicitud.tipo
        %td
          = link_to edit_solicitudes_de_mantenimiento_path(solicitud) do
            = fa_icon 'pencil'
          = link_to solicitudes_de_mantenimiento_path(solicitud), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'

    %tr='Total'
    %tr=@solicitudes.count


