<h1>Habitaciones rentadas</h1>
%p= "Total: #{@habitacionesrentada.count} regitros"
%table.table.table-bordered.table-curved{:style => "\r\n    margin-top: 15px;"}
  %thead
    %tr
      %td='ID'
      %td='Num de renta'
      %td='Num de habitación'
  %tbody
    - @habitacionesrentada.each do |habitacion|
      %tr
        %td=habitacion.id
        %td=habitacion.id_renta
        %td=habitacion.id_habitacion
