<h1>Habitaciones rentadas</h1>
%table.table.table-striped
  %thead
    %tr
      %td='id'
      %td='idHabitacionR'
      %td='idRenta'
      %td='idHabitacion'
      %td='Acciones'
  %tbody
    - @habitacionesrentada.each do |habitacion|
      %tr
        %td=habitacion.id
        %td=habitacion.id_HabitacionR
        %td=habitacion.id_Renta
        %td=habitacion.id_Habitacion
        %td
          = link_to edit_habitaciones_rentada_path(habitacion) do
            = fa_icon 'pencil'
          = link_to habitaciones_rentada_path(habitacion), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
