%table
  %thead
    %tr
      %td='id'
      %td='idRenta'
      %td='idHabitacion'
  %tbody
    - @habitacionesrentada.each do |habitacion|
      %tr
        %td=habitacion.id
        %td=habitacion.id_renta
        %td=habitacion.id_habitacion
