<h1>Detalles de habitaciones</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Num de Tipo'
      %td='Nombre'
      %td='Precio'
      %td='Acciones'

  %tbody
    - @dhabitaciones.each do |ha|
      %tr
        %td=ha.id
        %td=ha.idTipo
        %td=ha.Nombre
        %td=ha.Precio
        %td
          = link_to edit_dhabitacione_path(ha) do
            = fa_icon 'pencil'
          = link_to dhabitacione_path(ha), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'