<h1>Detalles de habitaciones</h1>
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Nombre'
      %td='Precio'
      %td='Acciones'
  %tbody
    - @dhabitaciones.each do |ha|
      %tr
        %td=ha.id
        - if valid_nombrecosas?(ha.nombre)
          %td=ha.nombre
        - else
          %td.text-danger=ha.nombre
        - if valid_price?(ha.precio)
          %td=ha.precio
        - else
          %td.text-danger=ha.precio
        %td
          = link_to edit_dhabitacione_path(ha) do
            = fa_icon 'pencil'
          = link_to dhabitacione_path(ha), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
