<h1>Comandas</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Num de reservacion'
      %td='Num de empleado'
      %td='Fecha'
      %td='Hora de reservacion'
      %td='Acciones'

  %tbody
    - @comandas.each do |comanda|
      %tr
        %td=comanda.id
        %td=comanda.id_reservacion
        %td=comanda.id_empleado
        %td=comanda.fecha
        %td=comanda.hora_reservacion
        %td
          = link_to edit_comanda_path(comanda) do
            = fa_icon 'pencil'
          = link_to comanda_path(comanda), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
