%table
  %thead
    %tr
      %td='id'
      %td='id_empleado'
      %td='Fecha accidente'
      %td='Descripcion'
      %td='Acciones'

  %tbody
    - @accidentes.each do |accidente|
      %tr
        %td=accidente.id
        %td=accidente.id_empleado
        %td=accidente.f_accidente
        %td=accidente.descripcion
        %td
          = link_to edit_accidentes_laborale_path(accidente) do
            = fa_icon 'pencil'
          = link_to accidentes_laborale_path(accidente), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'


