<h1>Habitaciones</h1>
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Tipo de habitación'
      %td='Estado'
      %td='Acciones'
  %tbody
    - @habitaciones.each do |habitacion|
      %tr
        %td=habitacion.id
        %td=habitacion.tipo_habitacion
        - if valid_activah?(habitacion.estado)
          %td=habitacion.estado
        - else
          %td.text.danger=habitacion.estado
        %td
          = link_to edit_habitacione_path(habitacion) do
            = fa_icon 'pencil'
          = link_to habitacione_path(habitacion), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
    %tr='Total: '
    %tr=@habitaciones.count

