<h1>Capacitaciones por empleado</h1>
%table.table.table-striped
  %thead
    %tr
      %td='id'
      %td='id_empleado'
      %td='id_capacitacion'
      %td='f_inicio'
      %td='f_fin'
      %td='estado'
      %td='Acciones'

  %tbody
    - @capacitaciones.each do |capacitacion|
      %tr
        %td=capacitacion.id
        %td=capacitacion.id_empleado
        %td=capacitacion.id_programa
        %td=capacitacion.f_inicio
        %td=capacitacion.f_fin
        %td=capacitacion.estado
        %td
          = link_to edit_capacitaciones_por_empleado_path(capacitacion) do
            = fa_icon 'pencil'
          = link_to capacitaciones_por_empleado_path(capacitacion), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'


