<h1>Ordenes de mantenimiento</h1>
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Num sistema'
      %td='Sistema'
      %td='Fecha de inicio'
      %td='Fecha de termino'
      %td='Num de equipo'
      %td='Tipo de mantenimiento'
      %td='Num de empleado'
      %td='Acciones'
  %tbody
    - @mantenimientos_por_equipo.each do |mantenimiento_por_equipo|
      %tr
        %td=mantenimiento_por_equipo.id
        %td=mantenimiento_por_equipo.id_sistema
        %td=mantenimiento_por_equipo.sistema
        -if valid_date?(mantenimiento_por_equipo.f_inicio)
          %td=mantenimiento_por_equipo.f_inicio
        -else
          %td.text.danger=mantenimiento_por_equipo.f_inicio
        -if valid_date?(mantenimiento_por_equipo.f_termino)
          %td=mantenimiento_por_equipo.f_termino
        -else
          %td.text.danger=mantenimiento_por_equipo.f_termino
        %td=mantenimiento_por_equipo.id_equipo
        -if valid_words?(mantenimiento_por_equipo.tipo_mantenimiento)
          %td=mantenimiento_por_equipo.tipo_mantenimiento
        -else
          %td.text.danger=mantenimiento_por_equipo.tipo_mantenimiento
        %td=mantenimiento_por_equipo.id_empleado
        %td
          = link_to edit_ordenes_de_mantenimiento_path(mantenimiento_por_equipo) do
            = fa_icon 'pencil'
          = link_to ordenes_de_mantenimiento_path(mantenimiento_por_equipo), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
