<h1>Detalle mantenimiento de equipos</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Num de Detalle'
      %td='Fecha de inicio'
      %td='Fecha de termino'
      %td='Num de equipo por habitacion'
      %td='Num de mantenimiento por equipo'
      %td='Num de Empleado'
      %td='Acciones'

  %tbody
    - @mantenimientoe.each do |ma|
      %tr
        %td=ma.id
        %td=ma.idDetalle
        -if valid_date?(FechaInicio)
          %td=ma.FechaInicio
        -else
          %td.text-danger=ma.FechaInicio
        -if valid_date?(FechaTermino)
          %td=ma.FechaTermino
        -else
          %td.text-danger=ma.FechaTermino
        %td=ma.idEquipoH
        %td=ma.idMantenimientoE
        %td=ma.idEmpleado
        %td
          = link_to edit_dmantenimiento_equipo_path(ma) do
            = fa_icon 'pencil'
          = link_to dmantenimiento_equipo_path(ma), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
