<h1>Areas</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Nombre'
      %td='Clave'
      %td='Acciones'
  %tbody
    - @areas.each do |area|
      %tr
        %td=area.id
        %td=area.nombre
        %td=area.clave
        %td
          = link_to edit_area_path(area) do
            = fa_icon 'pencil'
          = link_to area_path(area), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'


