
    <div id="wrapper">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" align="center">
      <h2>BIENVENIDO AL PROCESO ETL</h2>
  
    </div>

    <div align="center" >
    <%= link_to image_tag("procetl.png", alt: "img"), '/' %>
    </div>
      <!-- /parte blanca -->
      <div class="jumbotron" align="center">
      <div id="content-wrapper">
          <div class="container-fluid">
          <div class="card-header mb-3">
            <h2>¿Que es un ETL?</h2>
          </div>
          <div class="card-body">
            <h5 class="card-title">Extraccion - Transformacion - Carga</h5>
            <p class="card-text">La palabra ETL corresponde a las siglas y fases en inglés de:
              <ul>
                <li>Extraer(extract):Extracción de los datos desde uno o varios sistemas fuente.</li>
                <li>Transformar(transform):Posibilidad de reformatear y limpiar estos datos cuando sea necesario.</li>
                <li>Cargar(load):Carga de datos en otro lugar o base de datos, un data mart o un data warehouse, con el objeto de analizarlos o apoyar un proceso de negocio.</li>
              </ul>
            <p>Los procesos ETL son un término estándar que se utiliza para referirse al movimiento y transformación de datos. Se trata del proceso que permite a las organizaciones mover datos desde múltiples fuentes, reformatearlos y cargarlos en otra base de datos (denominada data mart o data warehouse) con el objeto de analizarlos. También pueden ser enviados a otro sistema operacional para apoyar un proceso de negocio.</p>


            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal">
              Iniciar proceso ETL
            </button>

            <p></p>
          </div>
          </div>
        
  


