<h1>Materiales por pedido</h1>
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Num sistema'
      %td='Sistema'
      %td='Num de material'
      %td='Num de pedido'
      %td='Cantidad'
      %td='Acciones'

  %tbody
    - @materiales_por_pedido.each do |material_por_pedido|
      %tr
        %td=material_por_pedido.id
        %td=material_por_pedido.id_sistema
        %td=material_por_pedido.sistema
        %td=material_por_pedido.id_material
        -if valid_canitdad?(material_por_pedido.cantidad)
          %td=material_por_pedido.cantidad
        -else
          %td.text-danger=material_por_pedido.cantidad
        %td
          = link_to edit_materiales_por_pedido_path(material_por_pedido) do
            = fa_icon 'pencil'
          = link_to materiales_por_pedido_path(material_por_pedido), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
