%table
  %thead
    %tr
      %td='id'
      %td='idEquipo'
      %td='idHabitacion'

  %tbody
    - @equiposh.each do |equipo|
      %tr
        %td=equipo.id
        %td=equipo.idEquipo
        %td=equipo.idHabitacion


