<h1>Equipo de habitaciones</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Num de equipo por habitacion'
      %td='Num de equipo'
      %td='Num de habitacion'
      %td='Acciones'

  %tbody
    - @equiposh.each do |equipo|
      %tr
        %td=equipo.id
        %td=equipo.idEquipoH
        %td=equipo.idEquipo
        %td=equipo.idHabitacion
        %td
          = link_to edit_equipo_habitacione_path(equipo) do
            = fa_icon 'pencil'
          = link_to equipo_habitacione_path(equipo), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'


