<h1>Equipo de habitaciones</h1>
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Num de equipo'
      %td='Num de habitacion'
  

  %tbody
    - @equiposh.each do |equipo|
      %tr
        %td=equipo.id
        %td=equipo.idEquipo
        %td=equipo.idHabitacion


