%table
  %thead
    %tr
      %td='id'
      %td='id_articulo'
      %td='tipo'
      %td='fecha'
      %td='motivo'
      %td='Acciones'

  %tbody
    - @bajas.each do |baja|
      %tr
        %td=baja.id
        %td=baja.id_articulo
        %td=baja.tipo
        %td=baja.fecha
        %td=baja.motivo
        %td
          = link_to edit_baja_path(baja) do
            = fa_icon 'pencil'
          = link_to bajas_path(baja), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'



    %tr='Total'
    %tr=@bajas.count


