%table
  %thead
    %tr
      %td='id'
      %td='idPaquete'
      %td='idRenta'
      %td='idEmpleado'
  %tbody
    - @paquetevr.each do |pvr|
      %tr
        %td=pvr.id
        %td=pvr.id_paquete
        %td=pvr.id_renta
        %td=pvr.id_empleado
