<h1>Tipos de medidas para ingredientes</h1>
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Nombre'
      %td='Acciones'
  %tbody
    - @tipos_medidas.each do |tipo_medida|
      %tr
        %td=tipo_medida.id
        -if valid_word?(tipo_medida.nombre)
          %td=tipo_medida.nombre
        -else
          %td.text-danger=tipo_medida.nombre
        %td
          = link_to edit_tipos_medida_path(tipo_medida) do
            = fa_icon 'pencil'
          = link_to tipos_medidas_path(tipo_medida), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'

    %tr='Total'
    %tr=@tipos_medidas.count


