<h1>Reportes de perdida de robo</h1>
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Cantidad'
      %td='Fecha'
      %td='Servicio de limpieza/habitación'
      %td='# habitación'
      %td='# Empleado'
      %td='# Material'
      %td='Acciones'
  %tbody
    - @reporte.each do |s|
      %tr
        %td=s.id
        - if valid_cantidad? (s.cantidad)
          %td=s.cantidad
        - else
          %td.text.danger=s.cantidad
        - if valid_date?(s.fecha)
          %td=s.fecha
        - else
          %td.text.danger=s.fecha
        %td=s.id_servicio_limpieza
        %td=s.id_habitacion
        %td=s.id_empleado
        %td=s.id_material
        %td
          = link_to edit_reporte_perdido_robo_path(s) do
            = fa_icon 'pencil'
          = link_to  reporte_perdido_robo_path(s), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
