<h1>Reportes de perdida de robo</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Num de Reporte'
      %td='Cantidad'
      %td='Fecha'
      %td='Num Servicio de limpieza por habitación'
      %td='Num de habitación'
      %td='Num de Empleado'
      %td='Num de Material'
      %td='Acciones'
  %tbody
    - @reporte.each do |s|
      %tr
        %td=s.id
        %td=s.idReporte
        %td=s.Cantidad
        %td=s.Fecha
        %td=s.idServicioLH
        %td=s.idHabitacion
        %td=s.idEmpleado
        %td=s.idMaterial
        %td
          = link_to edit_reporte_perdido_robo_path(s) do
            = fa_icon 'pencil'
          = link_to  reporte_perdido_robo_path(s), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
