%table
  %thead
    %tr
      %td='id'
      %td='Cantidad'
      %td='Fecha'
      %td='idServicioLH'
      %td='idHabitacion'
      %td='idEmpleado'
      %td='idMaterial'
      %td='Acciones'
  %tbody
    - @reporte.each do |s|
      %tr
        %td=s.id
        %td=s.cantidad
        %td=s.fecha
        %td=s.id_servicio_limpieza
        %td=s.id_habitacion
        %td=s.id_empleado
        %td=s.id_material
        %td
          = link_to edit_reporte_perdido_robo_path(s) do
            = fa_icon 'pencil'
          = link_to  reporte_perdido_robo_path(s), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
