= simple_form_for @empresa do |f|
  - if valid_nombrecosas?(@empresa.nombre)
    = f.input :nombre, readonly: true, label: 'Nombre:'
  - if valid_name?(@empresa.nombre)
    = f.input :nombre, readonly: true , label: 'Nombre:'
  -else
  = f.button :submit, class: 'btn-success'
