= simple_form_for @empresa do |f|
  - if valid_name?(@empresa.nombre)
    = f.input :nombre, readonly: true , label: 'Nombre:'
  -else
    = f.input :nombre , label: 'Nombre:'
  = f.button :submit, class: 'btn-success'
