// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.formC{
    width: 400px;
    
}

.containerStyle{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-info{
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert{
    margin-top: 10%;
}