// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.formC{
    width: 400px;

}

.containerStyle{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.application-content{
  flex: 1;
  display: flex;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}