<h1>Logs</h1>
%table.table.table-bordered.table-curved{:style => "\r\n    margin-top: 15px;"}
  %thead
    %tr
      %td='Acción'
      %td='Usuario'
      %td='Controlador'
      %td='Elemento'
      %td.default-td='Timestamp'

  %tbody
    - @logs.each do |log|
      %tr
        %td=log.action
        %td=log.user
        %td=log.controller
        %td=log.element_id
        %td.default-td=log.time
