<h1>Bajas de empleado</h1>
%table.table.table-striped
  %thead
    %tr
      %td='ID'
      %td='Num de Empleado'
      %td='Motivo'

  %tbody
    - @bajas_por_empleado.each do |area|
      %tr
        %td=area.id
        %td=area.id_empleado
        %td=area.motivo

    %tr='Total'
    %tr=@bajas_por_empleado.count


