<h1>Equipos por pedido</h1>
%p= "Total: #{@equipos_por_pedido.count} regitros"
%table.table.table-bordered.table-curved
  %thead
    %tr
      %td='ID'
      %td='Num de pedido'
      %td='Num de equipo'

  %tbody
    - @equipos_por_pedido.each do |equipo|
      %tr
        %td=equipo.id
        %td=equipo.id_pedido
        %td=equipo.id_equipo

    %tr='Total: '
    %tr=@equipos_por_pedido.count


