<h1>Equipos por pedido</h1>
%table.table.table-striped
  %thead
    %tr
      %td='id'
      %td='id_pedido'
      %td='id_equipo'

  %tbody
    - @equipos_por_pedido.each do |equipo|
      %tr
        %td=equipo.id
        %td=equipo.id_pedido
        %td=equipo.id_equipo

    %tr='Total'
    %tr=@equipos_por_pedido.count


