%table
  %thead
    %tr
      %td='id'
      %td='idAsignacion'
      %td='Cantidad'
      %td='idHabitacion'
      %td='idMaterial'
      %td='Acción'

  %tbody
    - @asignacionm.each do |ma|
      %tr
        %td=ma.id
        %td=ma.cantidad
        %td=ma.id_habitacion
        %td=ma.id_material
        %td
          = link_to edit_asignacion_materiale_path(ma) do
            = fa_icon 'pencil'
          = link_to asignacion_materiale_path(ma), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'
