<h1>Tipos de productos</h1>
%table.table.table-bordered
  %thead
    %tr
      %td='ID'
      %td='Tipo'
      %td='Acciones'

  %tbody
    - @tipos_de_productos.each do |tipo_de_producto|
      %tr
        %td=tipo_de_producto.id
        -if valid_nombrecosas?(tipo_de_producto.tipo)
          %td=tipo_de_producto.tipo
        - else
          %td.text.danger=tipo_de_producto.tipo
        %td
          = link_to edit_tipos_de_producto_path(tipo_de_producto) do
            = fa_icon 'pencil'
          = link_to tipos_de_productos_path(tipo_de_producto), method: :delete, data: {confirm: '¿Estás seguro?'} do
            = fa_icon 'trash'


    %tr='Total: '
    %tr=@tipos_de_productos.count


